body {
    background-color: white;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 0px;
}

.movie-card {
    background-color: #f4f4f4;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 230px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.movie-card:hover {
    transform: scale(1.05);
}


.movie-card img {
    width: 100%;
    height: auto;
}

.movie-info {
    padding: 10px;
}

/* 검색창 */

#search_form {
    display: flex;
    background-color: rgba(0, 0, 0, 0.764);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 200px;
}

#search_form>label {
    font-size: 35px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#movie_search {
    border-radius: 10px;
    width: 60%;
    height: 20%;
}

#movie_search_btn {
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* 모달 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
}

#modal-poster {
    width: 90%;
    height: auto;
    max-height: 500px;
}


.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-title {
    font-weight: bold;
    text-align: center;
}

#modal-release-date,
#modal-vote-average {
    font-weight: 700;
}

.modal_box {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.modal_box_content {
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 1%;
}
